.system {

  &__slidebar {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #C1C1C1;
  }
}

.nav {

  &__list {
    display: flex;
  }

  &__link {
    @include transition-link;

    &_current {
    color: $color-pink;

      &:after {
        width: 100%;
      }
    }
  }

  &_main {
    @media (max-width: 1024px) {
      display: none;
    }

    .nav__list {
      display: flex;
    }

    .nav__item {
      margin-right: 32px;
    }
  }

  &_mobile {
    @media (max-width: 1024px) {
      display: block;
      position: absolute;
      background-color: $color-white;
      left: 0;
      width: 100%;
      top: 0;
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      z-index: 2;
      background-image: linear-gradient(13deg, $color-orange-light, $color-pink);
      background-size: 100% 10px;
      background-repeat: no-repeat;
      background-position-y: bottom;
    }

    .nav__list {
      @media (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }
    }

    .nav__item {
      @media (max-width: 1024px) {
        padding: 10px 0;
      }
    }
  }

  &_footer {
    font-size: 18px;
    color: $color-gray;

    .nav__list {
      flex-direction: column;
    }
  
    .nav__item:not(:first-of-type) {
      margin-top: 13px;
      @media (max-width: 460px) {
        margin-top: 16px;
      }
    }
  
    .nav__link {
      color: inherit;
    }
  }

}

.btn-nav {
  line-height: 1px;
  width: 45px;
  height: 45px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, box-shadow, border-color, outline-color, height;
  transition-duration: $time-hover;

  &__svg {
    height: 100%;
    fill: url(#linearGradient-2);
  }

  &__element {
    @include transition-btn-nav;
  }

  &[data-touch="false"]:hover,
  &:active {
    box-shadow: 0px 0px 8px 3px rgba(255,78,46, .5);
    background-color: rgba(255,78,46, .5);
    @include transition-hover;
  }

  &_close {
    transition-property: height;
    transition-duration: $time-hover;
    border-radius: 10px;

    & .btn-nav__element:nth-child(1) {
      @include transition-btn-nav;
      transform-origin: 50% 92.23%;
      transform: translateY(-41%) rotate(-45deg);
    }

    & .btn-nav__element:nth-child(2) {
      @include transition-btn-nav;
      opacity: 0;
    }

    & .btn-nav__element:nth-child(3) {
      @include transition-btn-nav;
      transform-origin: 50% 8.74%;
      transform: translateY(41%) rotate(45deg);
    }
  }
}

.btn-transform {
  width: 206px;
  height: 44px;
  font-size: 16px;
  color: $color-pink;
  border: 1px solid $color-pink;
  background-color: $color-white;
  @include transition-hover;

  &[data-touch="false"]:hover,
  &:active {
    box-shadow: 0px 0px 8px 3px rgba(255, 47, 150, .5);
    background-color: rgba(255, 47, 150, .5);
    @include transition-hover;
  }

  &__icon {
    display: none;
    @media (max-width: 600px) {
      display: block;
      width: inherit;
      height: 100%;
      fill: url(#linearGradient-2)
    }
  }

  &__body {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.btn-white {
  width: 206px;
  height: 44px;
  font-size: 16px;
  color: $color-pink;
  border: 1px solid $color-pink;
  background-color: $color-white;
  @include transition-hover;

  &[data-touch="false"]:hover,
  &:active {
    box-shadow: 0px 0px 8px 3px rgba(255, 47, 150, .5);
    background-color: rgba(255, 47, 150, .5);
    @include transition-hover;
  }
}

.btn_orang {
  width: 270px;
  height: 60px;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: $color-white;
  background-color: $color-orange;
  border: 0;
  @include transition-hover;
  @media (max-width: 1200px) {
    width: 319px;
    height: 68px;
  }
  @media (max-width: 460px) {
    width: 280px;
    height: 55px;
    font-size: 16px;
  }

  &[data-touch="false"]:hover,
  &:active {
    box-shadow: 0px 0px 8px 3px rgba(255,78,46, .5);
    @include transition-hover;
  }
}

.title-section {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
  @media (max-width: 600px) {
    font-size: 40px;
  }
  @media (max-width: 460px) {
    font-size: 30px;
  }
}

.service-list {
  display: flex;  
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__item:nth-child(1) {
    flex-basis: 257px;
  }

  &__item:nth-child(2) {
    flex-basis: 271px;
  }

  &__item:nth-child(3) {
    flex-basis: 200px;
  }

  &__item:nth-child(4) {
    flex-basis: 247px;
  }

  &__icon {
    fill: url(#linearGradient-2);
    @media (max-width: 460px) {
      height: auto;
    }
  }

  &__icon:nth-of-type(1),
  &__icon:nth-of-type(2) {
    @media (max-width: 460px) {
      width: 59px;
    }
  }

  &__icon:nth-of-type(3),
  &__icon:nth-of-type(4) {
    @media (max-width: 460px) {
      width: 60px;
    }
  }
  
  &__text {
    font-size: 20px;
    color: $color-gray;
    margin-top: 15px;
    line-height: 30px;
    @media (max-width: 460px) {
      font-size: 16px;
      margin-top: 13px;
      line-height: 25px;
      width: 80%;
    }
  }
}

.icons-social {
  display: flex;

  &__link {
    display: block;
    background-image: url(../img/icons-social.png);
    height: 36px;
    width: 36px;
    margin-left: 19px;
    border-radius: 5px;

    &_vk {
      background-position: -9px;
      margin-left: 0px;
    }

    &_facebook {
      background-position: -64px;
    }

    &_twitter {
      background-position: -118px;
    }

    &_instagram {
      background-position: -173px;
    }

    &[data-touch="false"]:hover,
    &:active {
      transition-property:filter;
      transition-duration: $time-hover;
      filter: brightness(0.5);
    }
  }
}

.blackout-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // width: 100%;
  min-width: 320px;
  // height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &_overflow {
    align-items: flex-start;
  }
}

.form {
  position: relative;
  margin: 25px;
  width: 310px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 10;
  border-radius: 10px 0 10px 10px;
  transition-property: height, width;
  transition-duration: $time-btn-nav;

  &__btn_close {
    width: 50px;
    height: 50px;
    padding: 5px;
    position: absolute;
    top: -25px;
    right: 0px;
    line-height: 0;
    border-radius: 50px;
    background-color: $color-white;

    &[data-touch="false"]:hover .form__icon,
    &:active .form__icon {
      border-radius: 50px;
      box-shadow: 0px 0px 8px 3px rgba(255, 47, 150, .5);
      background-color: rgba(255, 47, 150, .5);
      @include transition-hover;
    }
  }

  &__wrap {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 180px;
  }

  &__group {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-wrap: wrap;
    position: relative;
    margin-top: 10px;
  }

  &__title {
    text-transform: capitalize;
    font-size: 18px;
    color: $color-gray;
  }

  &__input-wrap {
    margin-top: 10px;
    position: relative;
  }

  &__input-text {
    font-size: 18px;
    width: 100%;
    height: 3em;
    color: $color-gray;
    border: 1px solid $color-pink;
    padding-left: 35px;
    border-radius: 5px;
  }

  &__icon {
    fill: url(#linearGradient-2);
    width: 15px;
    height: 15px;


    &_close {
      width: 30px;
      height: 30px;
    }

    &_name,
    &_phone,
    &_mail {
      position: absolute;
      top: 38%;
      left: 10px;
    }

  }

  &__btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    align-self: center;
    border-radius: 5px;
    @media (max-width: 1200px) {
      width: 100%;
      height: 50px;
    }
    @media (max-width: 460px) {
      width: 100%;
      height: 50px;
    }
  }

  &__response {
    // margin: 50px auto;
    color: $color-orange;
  }

  &__message {
    display: block;
    opacity: 0;
    color: red;
    font-size: 12px;
    text-align: center;
    // padding-left: 20%;
    width: 100%;
    // margin-bottom: 0;
    // height: 0;
    line-height: 0;
  }

  &__message.valid {
    // margin-bottom: 0;
    line-height: 0;
    // height: 0;
    opacity: 0;
    @include transition-message;
  }

  &__message.error {
    // margin-bottom: 10px;
    // height: 2em;
    line-height: 1.6;
    opacity: 1;
    @include transition-message;
  }

  &_response {
    border-radius: 10px 10px 10px 10px;

    .form__wrap {
      justify-content: center;
      align-items: center;
    } 
  }
}

.slider {
  padding: 0 15px;

  &__slide {
    padding: 15px;
    outline: none;
    @media (max-width: 460px) {
      padding: 0;
      font-size: 18px;
    }
  }

  &__image-cont {
    margin-bottom: 35px;
    height: 290px;
    @media (max-width: 1024px) {
      height: 360px;
      margin-bottom: 20px;
    }
    @media (max-width: 460px) {
      height: 250px;
    }
  }

  &__image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    user-select: none;
    @media (max-width: 460px) {
      object-fit: cover;
    }
  }

  &__arrow-back,
  &__arrow-forward {
    box-shadow: 0 0 10px 3px $color-black-shadow;
    width: 60px;
    height: 60px;
    background-image: url(../img/arrow.png);
    border-radius: 100%;
    position: absolute;
    font-size: 1px;
    cursor: pointer;
    z-index: 1;

    &[data-touch="false"]:hover,
    &:active {
      box-shadow: 0px 0px 8px 3px $color-orange-shadow;
      background-color: $color-orange-shadow;
      @include transition-hover;
    }
  }

  &__arrow-back {
    left: 0;
    transform: translateY(-50%);
  }

  &__arrow-forward {
    transform: translateY(-50%) rotate(180deg);
    right: 0;
  }  

  &__dots {
    list-style: none;
    font-size: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    @media (max-width: 1024px) {
      margin-top: 89px;
    }
    @media (max-width: 460px) {
      margin-top: 44px;
      margin-left: 8px;
      margin-right: 8px;
    }

    & button{
      width: 18px;
      height: 18px;
      background-color: #ebebeb;
      border-radius: 10px;
      margin: 0 15px;
      cursor: pointer;
      font-size: 0;
      @media (max-width: 460px) {
        width: 11px;
        height: 11px;
        margin: 0 8px;
      }

      &[data-touch="false"]:hover,
      &:active {
        box-shadow: 0px 0px 8px 3px rgba(255,78,46, .5);
        background-color: rgba(255,78,46, .5);
        @include transition-hover;
      }


    }

    & .slick-active button {
      background-color: $color-orange;

      
      &[data-touch="false"]:hover,
      &:active {
        background-color: $color-orange;
      }
    }
  }

}

// .nav-footer {
//   font-size: 18px;
//   color: $color-gray;

//   &__item:not(:first-of-type) {
//     margin-top: 11px;
//     @media (max-width: 460px) {
//       margin-top: 15px;
//     }
//   }

//   &__link {
//     color: inherit;
//     @include transition-link;
//   }
// }

.contacts-list {
  font-size: 25px;
  white-space: nowrap;

  &__link {
    @include transition-link;
  }

  &__item_phone {
    background-repeat: no-repeat;
    @media (max-width: 540px) {
      letter-spacing: 0.4px;
    }
  }

  &__icon_phone {
    margin-right: 12px;
    fill: url(#linearGradient-2);
    width: 19px;
    height: auto;
    @media (max-width: 540px) {
      width: 12px;
    }
  }

  &__item_mail {
    margin-top: 32px;
    background-repeat: no-repeat;
    @media (max-width: 540px) {
      margin-top: 24px;
    }
  }

  &__icon_mail {
    margin-right: 13px;
    width: 23px;
    height: auto;
    fill: url(#linearGradient-2);
    @media (max-width: 540px) {
      width: 14px;
    }
  }
}